*{
  list-style: none;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}
body{
  padding-top: 50px;
}
.offline{
  -webkit-filter: grayscale(100%);
}
.toolbar{
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  background: rgb(24, 144, 255);
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  color: #FFF;
}
.toolbar .action{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar .action img{
  display: block;
  width: 20px;
}
.toolbar .title{
  flex: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar .menu {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.provice_list, .city_list{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.provice_list .item, .city_list .item {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  font-size: 14px;
  border-bottom: solid 1px #EEE;
  cursor: pointer;
}
.provice_list .item:last-child, .city_list .item:last-child{
  border-bottom: none;
}
.provice_list .item:active, .city_list .item:active{
  background: #EFEFEF;
}
.weather{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: -webkit-linear-gradient(top, rgb(22, 111, 188), rgb(114, 173, 224));
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999;
}
.weather-grey{
  background-image: -webkit-linear-gradient(top, #B5B5B5, #CACACA);
}
.change-local{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.change-local img{
  display: block;
  width: 25px;
  height: 25px;
}
.location-info{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}
.location-info h3{
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
.location-info p{
  color: #EFEFEF;
  font-size: 14px;
  margin-top: 3px;
  text-align: center;
}
.weather-info{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  flex-direction: column;
}
.weather-info img{
  display: block;
  width: 60%;
}
.weather-info span{
  font-size: 75px;
  color: #FFF;
  font-weight: 100;
  margin-left: 10px;
}
.other-info{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}
.other-info .temp{
  font-size: 14px;
  color: #FFF;
}
.other-info .wind{
  font-size: 14px;
  color: #FFF;
  margin-left: 21px;
}
.net-tip{
  width: 100%;
  height: 50px;
  background: #f5222d;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1000;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.15);
}